@font-face {
  font-family: "Queensides";
  src:
    url("../data/fonts/Queensides-3z7Ey.woff2") format("woff2"),
    url("../data/fonts/Queensides-3z7Ey.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: var(--background-picture);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#aboutUs {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Queensides', sans-serif;
}

#aboutUs #box {
  width: 100%;
  height: 50%;
  margin: 50px auto;
}

#mainHeading {
  color: #275f64;
  font-size: 45px;
  /* font-family: "Courier New", Courier, monospace; */
  font-weight: 400;
  /* font-family: "Poppins", sans-serif; */
}

#paraGraph {
  font-size: 22px;
  color: var(--primary-title);
}


